@using System.Diagnostics.CodeAnalysis
@using Microsoft.AspNetCore.Components
@functions {

    [Parameter]
    [SuppressMessage("ReSharper", "UnusedAutoPropertyAccessor.Local")]
    public TableStateHandler TableState { get; set; }

    [Parameter]
    [SuppressMessage("ReSharper", "UnusedAutoPropertyAccessor.Local")]
    public string FieldName { get; set; }

}

<div class="FlareTableInputContainer">
    <input class="FlareTableFilterInput" type="text" name="BlazorTable_Filter_@FieldName" value="@TableState.ColumnValue(FieldName)" @oninput="@(args => { TableState.UpdateColumn(args, FieldName); })"/>
    <button class="FlareTableSortDirIndicator @TableState.SortDir(FieldName)" @onclick="@(() => TableState.UpdateSort(FieldName))">Sort</button>
</div>