@using System.Diagnostics.CodeAnalysis
@using Microsoft.AspNetCore.Components
@functions {

    [Parameter]
    [SuppressMessage("ReSharper", "UnusedAutoPropertyAccessor.Local")]
    private TableStateHandler TableState { get; set; }

}

<div class="DataTablePaginationPageSizeContainer">
    <select class="DataTablePaginateSizeSelector" onchange="@(args => TableState.UpdatePageSize(args))">
        <option selected="selected" value="3">3</option>
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="250">250</option>
        <option value="500">500</option>
    </select>
</div>